body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.bg {
    /* Путь к картинке */
    background-image: url('../background.jpg'); /* можно поменять путь/название картинки */
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.8);
}

h1 {
    font-size: 60px;
    margin-bottom: 30px;
}

.nav-buttons {
    display: flex;
    gap: 20px;
}

.nav-buttons a {
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 8px;
    font-size: 18px;
    transition: 0.3s;
}

.nav-buttons a:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: #000;
}
